@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
    font-family: 'Lora', serif; 
    font-size: 18px;
    line-height: 1.6; 
    margin: 0px; 
    padding: 20px;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
    }


h1 {
    font-family: 'Roboto', sans-serif; 
    font-weight: bold; 
    margin: 10px 0;
    color: #f0f0f0;
}
h2 {
    font-family: 'Roboto', sans-serif; 
    font-weight: bold; 
    margin: 10px 0;
    color: #f0f0f0;
}

h1 {
    font-size: 2.5em; /* Taille de police pour le titre principal */
    margin-bottom: 20px; /* Espacement supplémentaire en bas */
}

h4 {
    font-size: 2em; /* Taille de police pour les sous-titres */
    margin-top: 0x; /* Espacement supplémentaire en haut */
    color: #3E5B51; /* Couleur légèrement plus claire */
}

h3 {
    font-family: 'Roboto', sans-serif; 
    font-weight: bold; 
    margin: 10px 0;
    font-size: 1.5em; /* Taille de police pour les sous-sous-titres */
    margin-top: 15px; /* Espacement supplémentaire en haut */
    color: #3E5B51;
}
h5 {
    font-size: 1em; /* Taille de police pour les sous-titres */
    margin-top: 20px; /* Espacement supplémentaire en haut */
    color: #D3D3D3; /* Couleur légèrement plus claire */
}
p {
    margin-bottom: 0px; /* Espacement entre les paragraphes */
}

a {
    text-decoration: none;
    color: #007bff; /* Couleur pour les liens */
    transition: color 0.3s;
}

